/*para comment*/
#p {
  color: rgb(67, 43, 226);
}
h1 {
  color: rgb(238, 255, 0);
}
#para1 {
  color: rgb(255, 0, 0);
}

/*ID SELECTOR*/
.para {
  color: rgb(0, 255, 30);
}

/*UNIVERSAL SELECTOR*/
* {
  margin: 0;
  padding: 0;
}

/*ATTRIBUTE SELECTOR*/
a[href] {
  color: rgb(255, 0, 242);
  text-decoration: none;
}
p[class="para"] {
  font-size: 20px;
  font-weight: bold;
}

/* id > class > elements > universal */
* {
  margin: 0;
  padding: 0;
}
#para1 {
  color: rgb(255, 0, 0);
  font-size: 20px;
  font-weight: bold;
  border: 2px solid rgb(231, 17, 17);
  padding: 10px 20px;

  padding-left: 10px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;

  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.child {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 0, 0);
}
.child2 {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 0, 0);
}
.child3 {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(0, 255, 0);
}
#container {
  width: 500px;
  height: 500px;
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* Flexbox properties */
  justify-content: center;
  align-items: space-around;
  align-items: space-between;
  align-items: space-evenly;
  justify-content: fleex-start;
  justify-content: flex-end;
}


div{
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
}
/* Flexbox */
#flex-container {
  align-items: flex-start;
  align-items: flex-end;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
  align-items: strech;
  align-items: baseline;
  
}
